@font-face {
  font-family: "StratosSkyeng";
  src: url("/public/fonts/StratosSkyeng.woff") format("woff");
  src: url("/public/fonts/StratosSkyeng.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
