.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  position: relative;
  background-color: #1b1b1b;
  color: #ffffff;
  font-size: 16px;
  margin-right: 10px;
  z-index: 0;
}

.activeFilter {
  border-color: #ad61ff;
  color: #ad61ff;
  cursor: pointer;
}
.btnText:hover {
  border-color: #b672ff;
  color: #b672ff;
  cursor: pointer;
}

.list {
  min-width: 248px;
  position: absolute;
  margin-top: 10px;
  border: 12px;
  background-color: #313131;
  border-radius: 20px;
  padding: 34px;
  height: 305px;
}
.listItem {
  width: 180px;
  height: 250px;
  display: flex;
  flex-direction: column;
  gap: 25px;
  overflow-y: auto;
  overflow-x: hidden;
}

.filterNumber {
  position: absolute;
  border: 1px solid #ad61ff;
  border-radius: 60px;
  z-index: 1;
  height: 26px;
  width: 26px;
  line-height: 13px;
  font-size: 13px;
  padding: 6px;
  transform: translate(-30%, -30%);
  text-align: center;
  background-color: #ad61ff;
  /* font-family: "StratosSkyeng"; */
  font-family: "StratosSkyeng", Sans-serif;
}
.listText {
  gap: 10px;
  font-size: 20px;
  line-height: 24px;
}
.listText:hover {
  color: #b672ff;
  text-decoration: underline;
}
.listText:active {
  color: #ad61ff;
  text-decoration: underline;
}
.listTextActive {
  color: #b672ff;
  text-decoration: underline;
}
.listDiv {
  display: flex;
  justify-content: flex-end;
}
