.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
  position: relative;
  background-color: #1b1b1b;
  color: #ffffff;
  font-family: StratosSkyeng;
  font-size: 16px;
  margin-right: 10px;
}
.btnText:hover {
  border-color: #B672FF;
  color: #B672FF;
  cursor: pointer;
}
.btnText:active {
  border-color: #B672FF;
  color: #B672FF;
  cursor: pointer;
}
.list {
  min-width: 248px;
  position: absolute;
  margin-top: 10px;
  border: 12px;
  background-color: #313131;
  border-radius: 20px;
}
.listItem {
  width: 200px;
  height: 305px;
  padding: 34px;
  display: flex;
  flex-direction: column;
  gap: 28px;
  overflow: scroll;
}
.listItem li {
  gap: 10px;
  font-family: StratosSkyeng;
  font-size: 20px;
  line-height: 24px;
}
.listItem li:hover {
  color: #b672ff;
  text-decoration: underline;
}
