.centerblockH2 {
  font-style: normal;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.8px;
  margin-bottom: 45px;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-color: #383838;
}

.container {
  max-width: 1920px;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  background-color: #181818;
}
.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.mainNav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.mainCenterblock {
  width: auto;
  /* width: 500px; */
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  padding: 20px 40px 20px 0px;
}

.centerblockFilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 51px;
}
.filterTitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin-right: 15px;
}
.filterButton {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  border: 1px solid #ffffff;
  border-radius: 60px;
  padding: 6px 20px;
}
.centerblockContent {
  display: flex;
  flex-direction: column;
  height: 800px;
  align-content: center;
  justify-content: center;
  align-items: center;
  height: 800px;
  gap: 10px;
}
.centerblockContent h1 {
  font-family: StratosSkyeng;
  font-size: 160px;
  font-weight: 400;
  line-height: 168px;
  text-align: left;
}

.centerblockContent h2 {
  font-family: StratosSkyeng;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
}
.centerblockContent p {
  font-family: StratosSkyeng;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: -0.003em;
  text-align: center;
  color: #4E4E4E;
  ;
}
.button {
  width: 278px;
  height: 52px;
  background-color: #580ea2;
  border: 1px solid #580ea2;
  border-radius: 6px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.05px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 20px;
}
